<form action="" method="post">
  {% if totpActive %}
    <label for="totp">Enter your OTP code:</label>
    <input type="text" required id="totp" name="totp" autocomplete="one-time-code" maxlength="6">
  {% endif %}
  <input type="hidden" name="uuid" value="{{uuid}}">
  <input type="hidden" name="csrf_token" value="{{csrfToken}}">
  {% if label == 'Delete' %}
    <input type="hidden" name="delete" value="true">
  {% endif %}
  {% if cfTsActive %}
    <div class="cf-turnstile" data-sitekey="{{cfTsSiteKey}}" data-theme="light"></div>
  {% endif %}
  <input type="submit" value="{{label}}">
</form>
