APP_ENV="dev"
APP_ADMINISTRATOR_NAME="the administrator"
APP_BASE_URL="http://localhost:8000"
APP_ADMINISTRATOR_EMAIL="xxx@xxx.xx"
APP_THEME="violet" # See https://picocss.com/docs/version-picker for available themes
DEFAULT_COLOR_SCHEME="dark" #  Options: "light" or "dark", will not override user preference

SHOW_GITHUB_LINK=true
MAILGUN_ACTIVE=false
CF_TURNSTILE_ACTIVE=false

# Only necessary if using Mailgun
MAILGUN_FROM_ADDRESS="xxx@xxx.xx"
MAILGUN_DOMAIN="xxx.xx"
MAILGUN_API_KEY="XXXXXX"

# Only necessary if using Cloudflare Turnstile
CF_TURNSTILE_SITEKEY="XXXXXX"
CF_TURNSTILE_SECRET="XXXXXX"

#TOTP_SECRET="XXXXXX" //See README.md to generate this
