<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Form</title>
  <link rel="stylesheet" href="/css/pico.classless.violet.min.css">
  <meta name="robots" content="noindex, nofollow">
{% endblock %}
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
