<!DOCTYPE html>
<html lang="en" data-theme="{{defaultColorScheme|default('dark')}}">
<head>
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{appTitle|default('Secure Form')}}</title>
  <link rel="stylesheet" href="/system/css">
  <script src="/system/js" defer></script>
  {% if cfTsActive %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
  {% endif %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}
</head>
<body>
  {% include '_partials/header.twig' %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
