{% extends 'base.twig' %}

{% block content %}
  <p>Secret contents:</p>
  <pre>{{fileContents}}</pre>
  
  <hr>
  <strong>Delete this secret</strong>
  {% include '_partials/totp.twig' with totp %}
{% endblock %}
