{% extends 'base.twig' %}

{% block head %}
  {{ parent() }}
  {% if totp.cfTsActive|default %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
  {% endif %}
{% endblock %}

{% block content %}
  <p>Secret contents:</p>
  <pre>{{fileContents}}</pre>
  
  <hr>
  <strong>Delete this secret</strong>
  {% include '_partials/totp.twig' with totp %}
{% endblock %}
