{% extends 'base.twig' %}

{% block content %}
  <p>Secret contents:</p>
  <pre>{{fileContents}}</pre>
  
  <hr>
  <h3>Delete this secret</h3>
  {% include '_partials/totp.twig' with totp %}
{% endblock %}
